/**
 * 320px css
 */

* {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

body,
input,
button, 
select, 
textarea, h1, h2, h3, h4, h5, h6  {
    font-family: Helvetica, sans-serif;
    font-size: .9em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2em;
}

h1 {
  font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
input[type="submit"] {
	padding: .4em;
	border: 1px solid #fff;
	line-height: 1.5em;
}

/* Common Classes used in almost all the sites */ 
.page-info,
.visuallyhidden, 
.element-invisible {
	display: none;
	visibility: hidden;	
}

.wbtn {
	border: none;
}

.transition {
  -webkit-transition: background-color .5s ease;
  -moz-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;
  -ms-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.80opacity {
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.60opacity {
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.around-corner {
	border-radius: 25px;
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
}

.box-shadow {
	-webkit-box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.75); 
	box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.75);
}

/* Main Colour */
body { 
	background-color: #002F55;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	/* color: #005c90;*/
	color: #002F55;
	/*font-weight: bold;*/
}

a, a:visited, a:active, a:hover {
	color: #fff;
}

li a, li a.active {
	color: #fff;
}

table {
	background-color: #fff;
}

header, 
#header { 
	background-color: #97D7E1;
	background-repeat: no-repeat;
	background-position: left 30%;
	background-image: url("/sites/all/themes/custom/nsie_theme/images/dotMap_onTrans.png");
	background-size: cover;
}

.content-container, 
.wbtn {
	background-color: #fff;
	color: #444;
}

.content-container a,
.content-container li a, 
.content-container li a.active {
	color: #444;
}

#page-title {
	color: #ffffff;
}

#footer h1, 
#footer h2, 
#footer h3 {
	color: #fff;
}

/* Customised Special */
.normal-box {
	border: 1px solid #c1c1c1;
	padding: 1em;
	font-size: .8em;
}

.purple-box, 
.blue-box,
.green-box,
.yellow-box {
	margin-bottom: 1em;
}

.purple-box {
	border: 1px solid #a584bc;
	background-color: #ebe5f2;
}

.green-box {
	border: 1px solid #74C579;
	background-color: #F0F7EF;
}

.blue-box {
	border: 1px solid #52C8E1;
	background-color: #D9F0F6;
}

.yellow-box {
	border: 1px solid #C1D750;
	background-color: #EEF2D7;
}

.purple-box h2, 
.purple-box h3, 
.purple-box h4 {
	background-color: #8D67A7;
	color: #fff;
	margin: 0;
	padding: .5em 1em;
}

.blue-box h2, 
.blue-box h3, 
.blue-box h4 {
	background-color: #52C8E1;
	color: #444;
	margin: 0;
	padding: .5em 1em;
}

.green-box h2, 
.green-box h3, 
.green-box h4 {
	background-color: #74C579;
	color: #444;
	margin: 0;
	padding: .5em 1em;
}

.yellow-box h2,
.yellow-box h3,
.yellow-box h4 {
	background-color: #C1D750;
	color: #444;
	margin: 0;
	padding: .5em 1em;	
}

.yellow-box p,
.green-box p,
.blue-box p,
.purple-box p {
	padding: 1em 1em 0 1em;
}

.image-box {
	padding: 1em 0;
	border-bottom: 1px solid #444;
	margin-bottom: 1em;
}

.spec { 
	font-size: 0.86em;
	padding: .5em;
}

.double-line h4 {
	color: #002F55;
	margin: 1em 0 .5em 0;
	padding: 0;
}

.double-line {
	border-top: 1px solid #002F55;
	border-bottom: 1px solid #002F55;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #002F55;
}

.hoz-img-box {
	overflow: hidden;
	width: 90%;
	margin: 1em auto;
	border-right: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.hoz-img-box img {
	width: 50%;
}

.hoz-img-box:hover {
	-webkit-box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.25); 
	box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.25);
  	transition: box-shadow 0.3s ease-in-out:

}

.field-name-body {
	padding-top: 1em;
}

.hoz-img-box img {
	float: left;
	padding: 1em;
}

.hoz-img-box span.box-text {
	float: left;
	padding: 3em 1em;
	width: 50%;
}

.hoz-img-box a:hover {

}

/* Main Structure */
.default-width {
	max-width: 900px;
	margin: 0 auto;
}

.crest {
	padding: 2em 0;
}

#site-name h1,
#site-name h2 {
	font-weight: normal;
	text-align: right;
	padding: 0 .5em 1em 0;
	width: 100%;
	margin: 0;
}

/* Search */
#block-search-form {
	margin: 1em;
}

#block-search-form input[type="text"] {
	float: left;
	width: 80%;
	line-height: 1.5em;
}

#block-search-form input[type="submit"] {
	background: #002F55;
	color: #fff;
	border: none;
	margin: .1em;
}

#content {
	background: #1e5799; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYTNkY2U1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #1e5799 0%, #a3dce5 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%,#a3dce5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%,#a3dce5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}


.not-front #content { 
	padding-top: 2em;
}

.content {
	padding: .2em 1em 1em 1em;
}

#breadcrumb {
	padding: 1em;
}

/* Main Menu */
#main-menu ul {
	margin: 1em 0 0 0;
	padding: 0;
	background-color: #002f55;
}

#main-menu ul li {
	margin: 0;
	padding: .2em 1em;
}

#main-menu ul li.first {
	background-color: #002f55;
	width: 50%;
}

#main-menu ul li.last {
	background-color: #400055;
	width: 50%;
}

/* Book Menu */
ul.book-toc-menu {
	padding: 0;
	margin: 0 auto;
	background-color: none;
	width: 94%;

}

ul.book-toc-menu li, 
ul.book-toc-menu li li {
	float: none;
	margin: .4em 0 0 0;
	width: 100%;
	text-align: center;
}

.book-toc-menu ul, 
.book-toc-menu li {
	border: none;
}

ul.book-toc-menu li a {
	background-color: #F0F0F0;
}

ul.book-toc-menu ul {
	margin:0;
	width: 100%;
	padding: 0;
}

/* Customised book menu */
li#nid-9 a,
li#nid-13 a,
li#nid-19 a {
	min-height: 51px;
	padding: 1em;
	color: #444;
}

#nid-9 a {
	background-color: #52C8E1; /*#097C91*/
}

#nid-9 strong,
#nid-13 strong,
#nid-19 strong {
	color: #262626;
}

.toc-depth-3#nid-9 > a > strong,
.toc-depth-3#nid-13 > a > strong,
.toc-depth-3#nid-19 > a > strong {
  color: #262626;
}

#nid-9 > a strong,
#nid-13 > a strong,
#nid-19 > a strong {
  color: #444;
}

#nid-10, 
#nid-11, 
#nid-12,
#nid-15,
#nid-16,
#nid-17,
#nid-18,
#nid-20,
#nid-21 {
	margin: 0;
}

#nid-10 a, 
#nid-11 a, 
#nid-12 a {
	background-color: #D9F0F6;
	color: inherit;
}

#nid-13 a {
	background-color: #74C579; /*#28872E*/
}

#nid-15 a,
#nid-16 a,
#nid-17 a,
#nid-18 a {
	background-color: #F0F7EF;
	color: inherit;
}

#nid-19 a {
	background-color: #C1D750; /*#68761D*/
}

#nid-20 a, 
#nid-21 a {
	background-color: #EEF2D7;
	color: inherit;
}

#nid-10 a:hover, 
#nid-11 a:hover, 
#nid-12 a:hover,
#nid-15 a:hover,
#nid-16 a:hover,
#nid-17 a:hover,
#nid-18 a:hover,
#nid-20 a:hover,
#nid-21 a:hover {
	background-color: #fff;
	text-decoration: none;
}

#page-title {
	padding: 2em 2em 1em 1em;
	margin: 0;
}

#page-heading {
	background-image: url("/sites/all/themes/custom/nsie_theme/images/dotMap_onBlue.png");
	background-repeat: no-repeat;
	background-position: left 20%;
	background-color: transparent;
	background-size: cover;
	color: #fff;
	padding: 4em 0 1.5em 0;
}

.map-blue {
	text-align: center;
	background-image: url("/sites/all/themes/custom/nsie_theme/images/dotMap_onBlue.png");
	background-repeat: no-repeat;
	background-position: left 20%;
	background-color: transparent;
	background-size: cover;
	color: #fff;
	padding: 6em 2em;
}

.map-blue span {
	font-size: 1.4em;
}

#support-logos {
	text-align: center;
	color: #002F55;
	padding-bottom: 1em;
}

#support-logos p {
	padding: 2em;
}

#testimonial {
	background-color: #2B7CB3;
	color: #fff;
	padding: 4em 2em 2em 2em;
	margin: 2em 0 0 0;
}

#block-block-5 {
	margin: 2em 0;
}

#block-block-5 .purple-box{
	margin: 1em;
}

#block-block-11 {
	text-align: center;
}

#block-block-11 ul.left li,
#block-block-11 .menu-middle ul li {
	border: 1px solid #fff;
}

#block-block-11 h2{
	padding: 2em 0 1em 0;
}

#block-block-11 .menu-bottom ul li a {
	min-height: 71px;
}

#block-block-11 .menu-bottom ul li ul li {
	padding: .4em;
}

#block-block-11 .menu-bottom ul li#nid-9 ul {
	background-color: #D9F0F6;
}

#block-block-11 .menu-bottom ul li#nid-13 ul {
	background-color: #F0F7EF;
}

#block-block-11 .menu-bottom ul li#nid-19 ul {
	background-color: #EEF2D7;
}

/* Navigation help */
#book-navigation-2 {
	padding: 1em 0;
}

#book-navigation-2 .book-nav-help {
	display: none;
	visibility: hidden;
}

#download_section {
	background-color: #F0F0F0;
	padding: 2em;
	text-align: center;
	display: block;
    overflow: hidden;
    margin-top: 1em;
}

#download_section h2 {
	padding: 0;
	margin: 0;
}

#download_section h2 a {
	color: #002F55;
	float: left;
	font-size: .8em;
}

#download_section .content {
	text-align: left;
	width: 100%;
  	display: table;
	margin:0;
	padding: 0;
}

#download_section .node-download {
  display: table;
  width:100%;
}

#download_section .node-download h2 {
  text-align: center;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

#download_section .node-download .image {
  display: table-cell;
  min-width: 200px;
}

#download_section .node-download .content {
  display: table-cell;
  height:190px;
  vertical-align: top;
}

#download_section .node-download .content > div {
  display: block;
  width: 100%;
}

#download_section .node-download .field-name-field-image {
  padding: 1em;
  display: table-row;
  width: 100%;
}

#download_section .node-download .field-name-body {
  display: table-row;
  text-align: center;
}

#download_section .node-download .field-name-field-file {
  display: table-row;
  clear: both;
  width: 100%;
}

#download_section .node-download .field-name-field-file br {
  display: none;
}

#download_section .node-download .field-name-field-file a:link,
#download_section .node-download .field-name-field-file a:visited {
  display: inline-block;
  text-align:center;
  border: 1px solid rgba(0,0,0,0.15);
  padding: .2em .6em;
  transition: 0.2s all linear;
  width: 100%;
}

#download_section .node-download .field-name-field-file a:hover {
  text-decoration: none;
  background: rgba(255,255,255,0.9);
  transition: 0.2s all linear;
  -webkit-box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.75); 
  box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.75);
}

#download_section .node-download .field-name-field-file .type {
  font-weight: bold;
  width:100%;
  display: block;
}

#download_section .node-download .field-name-field-file .size {
  color: #696969;
  font-size: 0.8em;
  width: 100%;
  display: block;
}

#content_bottom {
	margin-top: 2em;
}

#footer {
	text-align: center;
	background-image: url("/sites/all/themes/custom/nsie_theme/images/dotMap_onBlue.png");
	background-repeat: no-repeat;
	background-position: left 30%;
	background-color: transparent;
	background-size: cover;
	min-height: 500px;
}

#footer h2 {
	font-size: 1em;
}

#block-menu-menu-footer-menu {
	padding: 1em;
	margin: 0 auto;
}

footer {
	padding: 0 1em 1em 1em;	
}

footer ul {
	padding: 0;
}

footer ul.inline li {
	padding: 0;
}

footer ul.inline a {
	padding: .3em .5em;
	border: 1px solid #012E55;
}

/* Mobile menu */
.mobile-menu a {
	display: block;
	margin: 1em;
	text-align: center;
	background-color: #002F55;
	color: #fff;
	padding: 1em;
	text-decoration: none;
}

.blue-bg {
	background-color: #002F55;
	padding: 1em;
}

.mobile-menu a:after {
    content: '\f0c9';
    font-family: FontAwesome;
    margin-left: 5px;
    margin-right: 5px;
}

.mobile-menu {
	display: block;
	visibility: visible;
}

.is-hidden { 
	display: none;
	visibility: hidden;
}

/* Administrative */

.page-user .mobile-menu {
	display:none;
	visibility: hidden;
}

/* System nav */
#block-system-navigation ul.menu li {
	border: 1px solid #012E55;
}

#block-system-navigation ul.menu li a:before,
li.book_add_child a:before {
	content: "\f138";
    font-family: FontAwesome;
    margin-left: 5px;
    margin-right: 5px;
}

li.book_printer a:before {
	content: "\f02f";
	font-family: FontAwesome;
	margin-left: 5px;
	margin-right: 5px;
}

#block-system-navigation ul.menu li a:hover,
li.book_add_child a:hover,
li.book_printer a:hover {
	background-color: #012E55;
	text-decoration: none;
	color: #fff;
	-webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    -ms-transition: background-color .5s ease;
    transition: background-color .5s ease;
}

ul.primary li a {
	background-color: #fff;
	padding-top: .5em;
}

ul.primary li a:hover {
	background-color: #012E55;
	text-decoration: none;
	color: #fff;
	-webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    -ms-transition: background-color .5s ease;
    transition: background-color .5s ease;
}