/**
 * 768px
 */

/* Header */
.crest {
	float: left;
}

#site-name {
	float: right;
	width: 40%;
	padding: 2em .5em 0 0;
}

/* Search */
#block-search-form {
 	width: 100%;
}

#edit-search-block-form--2 {
 	line-height: 1.2em;
}

#block-block-3,
#block-block-6 {
	overflow: hidden;
}

.hoz-img-box {
	display: inline-block;
	float: left;
	margin: .6em 1em;
	width: 46%;
}

.hoz-img-box span.box-text {
	min-height: 163.2px;
}

.hoz-img-box:hover {
	-webkit-box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.25); 
	box-shadow: 4px 4px 55px -13px rgba(0,0,0,0.25);
  	transition: box-shadow 0.3s ease-in-out;
}

.breadcrumb {
	padding-left: 1em;
}

.content {
	width: 70%;
	float: left;
}

#block-system-main footer {
	display: block;
    float: right;
}

/* Book Menu */
.not-front ul.book-toc-menu {
	width: 30%;
	float: right;
}

#block-block-11 .menu-bottom ul li ul {
	min-height: 330px;
	margin-top: 0.5em;
}

#block-block-11 ul.col-3 {
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}

#block-block-11 ul.left {
	float: left;
    margin: 1em;
    width: 43%;
}

#block-block-11 .menu-top {
	max-width: 580px;
	margin: 0 auto;
	overflow: hidden;
}

#block-block-11 li.left {
	width: 33%;
	float: left;
	padding: 0 .4em;
}

#block-block-11 .menu-middle {
	width: 40%;
	margin: 0 auto;
}

#download_section h2 {
}

#block-block-16 {
	margin: auto;
}

#download_section .node-download {
  max-width: 768px;
  margin: auto;
}

#download_section .content {
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
}

#download_section .field-name-field-image {
  margin-top: -1.5em;
  display: table-cell;
  min-width:200px;
}

#download_section .field-name-body {
  padding: 0;
  text-align: center;
  display: table-cell;
}

#download_section .field-name-field-file .download {
  margin: auto;
  width: 50%;
}

.field-name-body {
	padding: 0;
}

#testimonial .col-two,
#testimonial .col-three {
 	overflow: hidden;
 	padding-bottom: 1em;
}

#testimonial .col-two .col-two-one, 
#testimonial .col-two .col-two-two {
	float: left;
	padding-right: 2em;
	display:inline-block;
}

#testimonial .col-two .col-two-one {
	width: 25%;
} 

#testimonial .col-two .col-two-two {
	width: 70%;
} 

#testimonial .col-three .col-three-one, 
#testimonial .col-three .col-three-two,
#testimonial .col-three .col-three-three {
	float: left;
	padding-right: 2em;
	display:inline-block;
	width: 33%;
}

/* Mobile menu */
.is-hidden,
.mobile-menu {
	display:none;
	visibility: hidden;
}

 /* Footer */
 #block-menu-menu-footer-menu {
	max-width: 540px;
}